<!-- Styles -->
<style>
  #chartdiv {
    width: 100%;
    height: 100%;
  }
</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/plugins/forceDirected.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

<!-- Chart code -->
<script>
  fetch("?id=4352")
    .then(function (response) {
      response.text().then(function (text) {
        var jsonFile = text;
        am4core.ready(function () {

          // Themes begin
          am4core.useTheme(am4themes_animated);
          // Themes end

          var chart = am4core.create("chartdiv", am4plugins_forceDirected.ForceDirectedTree);
          var networkSeries = chart.series.push(new am4plugins_forceDirected.ForceDirectedSeries())


          console.log(jsonFile)
          console.log("it did get here")
          chart.data = [JSON.parse(jsonFile)]

          networkSeries.dataFields.value = "id";
          networkSeries.dataFields.name = "name";
          networkSeries.dataFields.children = "children";
          networkSeries.nodes.template.tooltipText = "{name}:{id}";
          networkSeries.nodes.template.fillOpacity = 1;
          networkSeries.manyBodyStrength = -20;
          networkSeries.links.template.strength = 0.8;
          networkSeries.minRadius = am4core.percent(3);

          networkSeries.nodes.template.label.text = "{name}"
          networkSeries.fontSize = 10;

        }); // end am4core.ready()
      });
    });

</script>

<!-- HTML -->
<div id="chartdiv"></div>